.modalitem {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Roboto';
    text-align: center;
    align-self: center;
    color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1), 0px 0px 22px 0px rgba(0,0,0,0.09);
}

.modalitem__header {
    background: #F9F9F9;
    height: 3rem;
    display: flex;
}
.modalitem__header__label {
    margin: auto;
}

.modalitem__container {
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.modalitem__container__avatar {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    margin: auto;
}

.modalitem__container__avatar img {
    height: 100%;
}

.modalitem__container__name-wrapper {
    margin: auto;
}

.modalitem__container__name-wrapper__name {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

.modalitem__container__name-wrapper__title {
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0.7;
    margin: auto;
}

.modalitem__container__description {
    height: auto;
    display: flex;
    margin: auto;
}

.modalitem__container__description__text {
    margin: auto;
    opacity: 0.7;
    padding: 0 5%;
}

.modalitem__buttons {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
}

.modalitem__buttons__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    flex: 0.5;
    text-transform: uppercase;
}

.modalitem__buttons__button--focused {
    background: #009FE8;
    color: #fff;
}
